{% extends 'base.html' %}
{% load static %}

{% block title %}
View Product
{% endblock title %}

{% block navbar %}

<li><a href="/">Home</a></li>

<li class="active"><a href="/products">Products</a></li>
<li><a href="/contact">Contact</a></li>
{% if user.is_anonymous %}
<li><a href="/login">Login</a></li>
{% else %}
<li><a href="/logout">Logout</a></li>
{% endif %}
<li><a href="/register">Register</a></li>
<li style="margin-left: 40px;">
<a  href="{% url 'cart' %}">
	<img   id="cart-icon" src="{% static 'images/6+cart.png' %}">
</a>
<p id="cart-total">{{cardItems}}</p>
</li>
<li><a href="/userprofile"><i style="margin-right: 6px;" class="far fa-2x fa-user-circle"></i>My Profile</a></li>
{% endblock navbar %}


{% block body %}


<link rel="stylesheet" type="text/css" href="{% static 'styles/viewproduct.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"></script>


<div style="margin-top:200px;" class="container">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="{{product.Product_imageURL}}" id="main_product_image" width="500"> </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            <li><img onclick="changeImage(this)" src="{{product.Product_imageURL}}" width="70"></li>
                            <li><img onclick="changeImage(this)" src="{{product.Product_imageURL}}" width="70"></li>
                            <li><img onclick="changeImage(this)" src="{{product.Product_imageURL}}" width="70"></li>
                            <li><img onclick="changeImage(this)" src="{{product.Product_imageURL}}" width="70"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{product.Product_name}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                    </div>
                    <br>
                    <div class="mt-2 pr-3 content">
                        <p>Level up your walking game with the Skechers After Burn M. Fit Slip On Walking Sneaker. This walking sneaker features mesh fabric panels along the collar, side, and toes for optimum cooling, and the Air Cooled Memory Foam® removable insole provides lasting comfort and cushioning to your feet.</p>
                    </div>
                    <br>
                    <h3>Rs {{product.Product_price}}</h3>
                    
                    <div class="mt-5"> <span class="fw-bold">Color</span>
                        <div class="colors">
                            <ul id="marker">
                                <li id="marker-1"></li>
                                <li id="marker-2"></li>
                                <li id="marker-3"></li>
                                <li id="marker-4"></li>
                                <li id="marker-5"></li>
                            </ul>
                        </div>
                    
                    </div>
                    
                    <div class="buttons d-flex flex-row mt-5 gap-3">  <button data-product="{{product.id}}" data-action="add" class="btn btn-dark update-cart">Add to cart</button> </div>
                    <div class="search-option"> <i class='bx bx-search-alt-2 first-search'></i>
                        <div class="inputs"> <input type="text" name=""> </div> <i class='bx bx-share-alt share'></i>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

<div class="container">
   <div class="row mt-5">
   	 <h2>Similar Products</h2>
   </div>
   
   
   <div class="row mt-5">
    {% if product.category_id == 1 %}
    {% for product in similar|slice:":4" %}
   	<div class="col-md-3">
   		<div class="card1">
   			<img class="card-img-top img-fluid" src="{{product.Product_imageURL}}">
   			<div class="card-title">
   				<h4>{{product.Product_name}}</h4>
   			</div> 
   			<div class="card-text">
   				{{product.Product_desc}}<br/><br/>
                {% comment %} <button id = "qv{{product.id}}" type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'viewproduct/{{product.id}}';">View</button> {% endcomment %}
				<button data-product="{{product.id}}" data-action="add" style="margin-left: 10px;" type="button" class="btn btn-sm btn-outline-secondary update-cart">Add to cart</button><br><br>
   				{% comment %} <a class="btn btn-success text-light"> View</a> &nbsp; <a class="btn btn-danger text-light"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add To Cart</a> <br/><br/> {% endcomment %}
   			</div>
   		</div>
          
   	</div>
      
       {% endfor %}
       
       {% elif product.category_id == 2 %}
       {% for product in similar1|slice:":4" %}
   	<div class="col-md-3">
   		<div class="card1">
   			<img class="card-img-top img-fluid" src="{{product.Product_imageURL}}">
   			<div class="card-title">
   				<h4>{{product.Product_name}}</h4>
   			</div> 
   			<div class="card-text">
   				{{product.Product_desc}}<br/><br/>
                {% comment %} <button id = "qv{{product.id}}" type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'viewproduct/{{product.id}}';">View</button> {% endcomment %}
				<button data-product="{{product.id}}" data-action="add" style="margin-left: 10px;" type="button" class="btn btn-sm btn-outline-secondary update-cart">Add to cart</button><br><br>
   				{% comment %} <a class="btn btn-success text-light"> View</a> &nbsp; <a class="btn btn-danger text-light"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add To Cart</a> <br/><br/> {% endcomment %}
   			</div>
   		</div>
          
   	</div>
      
       {% endfor %}
       {% else %}
       {% for product in similar2|slice:":4" %}
   	<div class="col-md-3">
   		<div class="card1">
   			<img class="card-img-top img-fluid" src="{{product.Product_imageURL}}">
   			<div class="card-title">
   				<h4>{{product.Product_name}}</h4>
   			</div> 
   			<div class="card-text">
   				{{product.Product_desc}}<br/><br/>
                {% comment %} <button id = "qv{{product.id}}" type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href = 'viewproduct/{{product.id}}';">View</button> {% endcomment %}
				<button data-product="{{product.id}}" data-action="add" style="margin-left: 10px;" type="button" class="btn btn-sm btn-outline-secondary update-cart">Add to cart</button><br><br>
   				{% comment %} <a class="btn btn-success text-light"> View</a> &nbsp; <a class="btn btn-danger text-light"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add To Cart</a> <br/><br/> {% endcomment %}
   			</div>
   		</div>
          
   	</div>
       {% endfor %}


        {% endif %}
        
       

       
   	
   	
   	
   
</div>
<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
	{% for msg in messages %}
  swal(
      	'{{msg}}'
    )
	{% endfor %}
	</script>

           
{% endblock body %}